/* Application-wide Styles */
h1 {
	color: #369;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 250%;
}

h2, h3 {
	color: #444;
	font-family: Arial, Helvetica, sans-serif;
	font-weight: lighter;
}

body {
	margin: 2em;
}

body, input[type="text"], button {
	color: #888;
	font-family: Cambria, Georgia;
}
/* everywhere else */
* {
	font-family: Arial, Helvetica, sans-serif;
}

.button {
	margin-top: 20px;
	font-family: Arial;
	background-color: #eee;
	border: none;
	padding: 5px 10px;
	border-radius: 4px;
	cursor: pointer;
	cursor: hand;
	color: #888;
	text-decoration: none;
	margin-right: 5px;
}

.button:hover {
	background-color: #cfd8dc;
}

.button:disabled {
	background-color: #eee;
	color: #ccc;
	cursor: auto;
}

.title-3 {
	font-weight: bold;
	margin-bottom: 15px;
}

.insi {
	padding-top: 100px;
}

.box {
	width: 350px;
	margin: 0 auto;
}

@media screen and (max-width: 770px) {
	.box {
		width: 90%;
	}
}

.notice {
	font-size: medium;
	text-align: center;
	margin-top: 15px;
	color: #666;
}

.form-error {
	color: #ff0000;
	font-size: small;
	text-align: right;
}